{% extends 'layout_page.twig' %}

{% set page = 'files' %}

{% block title %}GitList{% endblock %}

{% block content %}
    {% if cloneurl %}
        <input type="text" value="git clone {{ cloneurl }}" class="input-xxlarge" readonly />
    {% endif %}

    {% embed 'breadcrumb.twig' with {breadcrumbs: breadcrumbs} %}
        {% block extra %}
            <div class="pull-right">
                <div class="btn-group download-buttons">
                    <a href="{{ path('archive', {repo: repo, branch: branch, format: 'zip'}) }}" class="btn btn-mini" title="Download '{{ branch }}' as a ZIP archive">ZIP</a>
                    <a href="{{ path('archive', {repo: repo, branch: branch, format: 'tar'}) }}" class="btn btn-mini" title="Download '{{ branch }}' as a TAR archive">TAR</a>
                </div>
                <a href="{{ path('rss', {repo: repo, branch: branch}) }}" class="rss-icon"><i class="rss"></i></a>
            </div>
        {% endblock %}
    {% endembed %}

    {% if files is not empty %}
    <table class="tree">
        <thead>
            <tr>
                <th width="80%">name</th>
                <th width="10%">mode</th>
                <th width="10%">size</th>
            </tr>
        </thead>
        <tbody>
            {% if parent is not null %}
            <tr>
                <td><i class="icon-spaced"></i>
                    {% if not parent %}
                        <a href="{{ path('branch', {repo: repo, branch: branch}) }}">..</a>
                    {% else %}
                        <a href="{{ path('tree', {repo: repo, commitishPath: branch ~ '/' ~ parent}) }}">..</a>
                    {% endif %}
                </td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
            {% for file in files %}
            <tr>
                <td><i class="{{ file.type == "folder" or file.type == "symlink" ? "icon-folder-open" : "icon-file" }} icon-spaced"></i> <a href="
                    {%- if file.type == "folder" or file.type == "symlink" -%}
                        {{ path('tree', {repo: repo, commitishPath: branch ~ '/' ~ path ~ (file.type == "symlink" ? file.path : file.name)}) }}
                    {%- else -%}
                        {{ path('blob', {repo: repo, commitishPath: branch ~ '/' ~ path ~ (file.type == "symlink" ? file.path : file.name)}) }}
                    {%- endif -%}
                ">{{ file.name }}</a></td>
                <td>{{ file.mode }}</td>
                <td>{% if file.size %}{{ file.size | format_size }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>This repository is empty.</p>
    {% endif %}
    {% if readme is defined and readme is not empty %}
        <div class="readme-view">
            <div class="md-header">
                <div class="meta">{{ readme.filename }}</div>
            </div>
            <div id="md-content">{{ readme.content }}</div>
        </div>
    {% endif %}

    <hr />
{% endblock %}
